body {
    background-color:  #190061; 
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 17px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

 #button {
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    color: black;
    background-color:  #190061; 
    border: none;
    border-radius: 7px;
    float: center;
}


.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 7px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%;
}

.input-control input:focus {
    outline: 1;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
