<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>

body{
    background-color: #190061;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
}

a{
  padding: 50px;
  

}
.footer{

    position: fixed;
    width: 4%;
}

header{
    position: fixed;
    margin-top: 450px;
    
    
}

a{
    float: center;
    color: white;

}

a:hover{
color: black;
}
</style>
</head>
<body>
    <div>
        <header>
     <a href="homepage2.html" style="font-size: 150px; margin-left: 120px; margin-right: 220px;"  i class='bx bxs-home' ></a>
    <a href="searchpage.html" style="font-size: 150px; margin-right: 220px;" i class='bx bx-search'></a>
    <a href="nodejsfolder/uploadddd.html" style="font-size: 160px; margin-right: px;"i class='bx bx-plus'></a>
    
        </header>
        
        </div>
        <img src="artwork/Screenshot_20230717-112138_1.jpg">
        <img src="artwork/Screenshot_20230717-112204_1.jpg">
        <img src="artwork/Screenshot_20230717-112236_1.jpg">
        <img src="artwork/Screenshot_20230717-112334_1.jpg">
        <img src="artwork/Screenshot_20230717-112349_1.jpg">
        <img src="artwork/Screenshot_20230717-112515_1.jpg">
        <img src="artwork/Screenshot_20230717-112412_1.jpg">
        <img src="artwork/Screenshot_20230717-112432_1.jpg">
        <img src="artwork/Screenshot_20230717-112442_1.jpg">
        <img src="artwork/Screenshot_20230717-112457_1.jpg">
        <img src="artwork/Screenshot_20230717-112527_1.jpg">
        <img src="artwork/Screenshot_20230717-112543_1.jpg">
        <img src="artwork/Screenshot_20230717-112554_1.jpg">
        <img src="artwork/Screenshot_20230717-112702_1.jpg">
        <img src="artwork/Screenshot_20230717-112401_1.jpg">
        <img src="artwork/Screenshot_20230717-112828_1.jpg">
        <img src="artwork/Screenshot_20230717-112833_1.jpg">
        <img src="artwork/Screenshot_20230717-112844_1.jpg">    

        <img src="artwork/Screenshot_20230717-112912_1.jpg">

        <img src="artwork/Screenshot_20230717-112951_1.jpg">

        
        <img src="artwork/Screenshot_20230717-112917_1.jpg">

        <img src="artwork/Screenshot_20230717-113015_1.jpg">

        
        <img src="artwork/Screenshot_20230717-113059_1.jpg">

        <img src="artwork/Screenshot_20230717-112939_1.jpg">        
       
        
        
        <img src="artwork/Screenshot_20230717-113030_1.jpg">
    
        <img src="artwork/Screenshot_20230717-113005_1.jpg">



        <img src="artwork/Screenshot_20230717-113749_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113757_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113804_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113818_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113834_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113842_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113855_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113947_1.jpg">
    
    <img src="artwork/Screenshot_20230717-113952_1.jpg">

     <img src="artwork/Screenshot_20230717-113512_1.jpg">



</body>
</html>