<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<style>
		body {
    background-color:  #190061; 
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;

}

	</style>
</head>
<body>

<h1>Welcome to SnapShare,</h1>

<p>The perfect platform to discover and share your passions with the world. Our goal is to create a community where people can connect with others who share similar interests and find inspiration for their own projects and hobbies.</p><br>

<p>At SnapShare, we believe that everyone has something unique to share, and we're here to provide a space where you can do just that. Whether you're an artist, designer, crafter, or simply a creative soul, we welcome you to join our community and share your ideas with the world.</p><br>

<p>Our team is made up of individuals who are passionate about creativity and innovation. We understand the power of sharing ideas and believe that by doing so, we can inspire others and make a positive impact in the world.</p><br>

<p>We strive to make our platform as user-friendly as possible, with intuitive features that make it easy to share your pictures and connect with others. Our mission is to create a space where everyone feels welcome and valued, regardless of their background or experience.</p><br>

<p>Thank you for choosing SnapShare as your creative hub. We're excited to have you as a part of our community, and we can't wait to see the amazing things you'll create and share with us.</p>

<a href="C:\Users\USER\Desktop\angular\snapshare\src\app\pages\auth\homepage\homepage.component.html"><input type="button" id="button" value="Back to home page" style="background-color:  white; width: 170px; height: 30px; float: center;">




