<!DOCTYPE html>
<html>
<head>
<style>
	body{

		background-color:  #190061; ;
        


	}	
h1{
      font-family: serif;
      font-size: 60px;
      font-weight: bold;
      text-transform: capitalize;
      color: white;
      text-align: justify;
      text-align: center;


}

</style>
	<title>CONTACT US 2</title>
</head>
<body>
<h1>THANK YOU FOR TAKING THE TIME TO CONTACT US, WE WILL GET BACK TO YOU AS SOON AS POSSIBLE.</h1><br>

<a href="homepage.html"><input type="button" value="Back to home page" style="background-color: white; width: 200px; height: 30px;">
  

